raw_pgn_games/
corrupted_pgn_games/
ground_truth_games/
clean_pgn_games/
lichess_2013_01.pgn
lichess_2013_01.pgn.zst
.ipynb_checkpoints/
__pycache__/
fig*.png
.aws/
.cache/
.local/
.npm/
.config/
.claude/
.kiro/
.agent/
.sagemaker_sql_editor_api_cache/
.virtual_documents/
.bashrc
.bash_history
*.invalid
